# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ignore all files starting with . or ~
.*
~*

# dependencies
mongo-data/
**/node_modules

# testing
**/coverage

# production
**/build

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
