h2 {
	text-align: center;
	color: orange;
	font-family: sans-serif;
}

p {
	text-align: left;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0.5%;
	margin-bottom: 5%;
	/*font-family: ;*/
}

#contact {
	text-align: center;
}
