h2 {
	text-align: center;
	color: #ff9933;
	font-stretch: extra-condensed;
	font-size: 250%;
	font-weight: 450;
	margin-top: 10%;
}

p {
	margin-left: 10%;
	margin-right: 10%;
}

#contact {
	text-align: center;
}
