/* add a white background to the headings "About us" and "Our team" */
/* .about-heading{
  background-color: white;
  margin: auto;
  width: fit-content;
  height: fit-content;
  padding: 0.8%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.about-heading > h2{
  margin: 0;
} */


h2 {
	text-align: center;
	color: #f79e46;
	font-stretch: extra-condensed;
	font-size: 250%;
	font-weight: 450;
}

p {
	margin-left: 10%;
	margin-right: 10%;
}

#contact {
	text-align: center;
}

#bmc-wbtn {
	bottom: 15px;
}

#bmc-wbtn + div {
	bottom: 15px;
}

.media-container{
  display:flex;
  flex-direction: column;
  align-items:center;
} 

.person-contact{
  padding-top: 8%;
  padding-left: 10%;
  padding-right: 10%;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.person-contact > div > a:link {color: grey;}      /* unvisited link */
.person-contact > div > a:visited {color: grey;}   /* visited link */
.person-contact > div > a:hover {color: grey;}     /* mouse over link */
.person-contact > div > a:active {color: grey;}    /* selected link */
