.footer{
  flex:1;
  position:relative;
  margin-top: 2%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background-color: rgb(125, 150, 219);
}

#footer-left{
  position: absolute;
  bottom: 0px;
  left: 0px;
  max-width: 100%;
  max-height: 120px;
}


#footer-right{
  position: absolute;
  top: 0px;
  right: 0px;
  max-width: 100%;
  max-height: 120px;
}

.footer-title{
  color: whitesmoke;
  text-align: left;
  padding-bottom: 1.5%;
  font-size:larger;
}

.footer-text{
  color: whitesmoke;
  text-align: left;
  padding-bottom: 1%;
}

.icon-list{
  position: relative;
  padding-top: 1%;
  list-style-type: none;
  padding-left: 0%;
  z-index: 2;
}

.icon-list>tr>th{
  font-weight:normal;
}

.less-padding{
  padding-left:0;
}

.icon-list>tr>a:link {color: white;}      /* unvisited link */
.icon-list>tr>a:visited {color: white;}   /* visited link */
.icon-list>tr>a:hover {color: white;}     /* mouse over link */
.icon-list>tr>a:active {color: white;}    /* selected link */
