.footer{
  flex:1;
  margin-top: 2%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background-color: rgb(125, 150, 219);
  background-image: url(../circle_bottom_left.png), url(../circle_top_right.png);
  background-position: bottom left, top right;
  background-size: contain, contain;
  background-repeat: no-repeat, no-repeat;
  color: rgb(41, 36, 16);
}

.footer-title{
  color: whitesmoke;
  text-align: left;
  padding-bottom: 1.5%;
  font-size:larger;
}

.footer-text{
  color: whitesmoke;
  text-align: left;
  padding-bottom: 1%;
}

.icon-list{
  padding-top: 1%;
  list-style-type: none;
  padding-left: 0%;
}

.icon-list>tr>th{
  font-weight:normal;
}

.less-padding{
  padding-left:0;
}

.icon-list>tr>a:link {color: white;}      /* unvisited link */
.icon-list>tr>a:visited {color: white;}   /* visited link */
.icon-list>tr>a:hover {color: white;}     /* mouse over link */
.icon-list>tr>a:active {color: white;}    /* selected link */
