.footer{
  flex:1;
  margin-top: 2%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  background-color: rgb(127, 164, 221);
  color: rgb(230, 202, 45);
}

.footer-title{
  color: whitesmoke;
  text-align: left;
  padding-bottom: 1.5%;
  font-size:larger;
}

.footer-text{
  color: whitesmoke;
  text-align: left;
  padding-bottom: 1%;
}

.icon-list{
  padding-top: 1%;
  list-style-type: none;
  padding-left: 0%;
}

.icon-list>tr>th{
  font-weight:normal;
}

.less-padding{
  padding-left:0;
}

a:link {color: white;}      /* unvisited link */
a:visited {color: white;}   /* visited link */
a:hover {color: white;}     /* mouse over link */
a:active {color: white;}    /* selected link */
