.form {
    border: 5px dashed rgb(125, 150, 219);
    border-radius: 1.5%;
    padding: 3%;
    margin-top: 5%;
    /* background-color: rgba(255, 255, 255, 0.5); */
    filter: drop-shadow(-10px 5px 5px rgb(147, 176, 255));
    background-image: url(../origami.jpg);
    background-size: 950px;
}

#submitModule{
    position: relative;
    z-index: 1;
}

.decorCranes img {
    height: auto;
    width: 120px;
}

.decorCranes {
    position: absolute;
    width: 10px;
    
}

#decorcrane1 {
    transform: translate(-640px);
    z-index: 1;
}

#decorcrane2 {
    transform: translate(305px);
    z-index: 0;
}

#decorcrane3 {
    transform: translate(-318px) scaleX(-1);
    z-index: 0;
}

#decorcrane4 {
    transform: translate(630px);
    z-index: 0;
}

#decorcrane5 {
    transform: translate(580px);
    z-index: 0;
}

#decorcrane6 {
    transform: translate(-420px);
    z-index: 0;
}

#decorcrane7 {
    transform: translate(-590px);
    z-index: 0;
}

/* .submissionContent{
    background-color: rgb(112, 128, 163);
    border-style: "dotted";
} */

.MuiImageListItem-root .MuiImageListItem-tile {
    overflow: visible;
}

.color.MuiImageListItem-imgFullHeight {
    width: 40px;
    height: 40px;
    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
}

.color.normal-color:hover {
    border-style: solid;
    border-width: 2px;
    border-color: grey;
}

.color.active-color {
    border-style: solid;
    border-width: 2px;
    border-color: #2b1da8;
}