.content {
    display: flex;
    flex-direction: row;
    justify-content: center;

    /*transform: translate(6%);*/
}

#craneCanvas {
    display: flex;
    flex-direction: row;
    justify-content: center;

    /*max-height: 550px;*/
    max-width: 70%;
    overflow: hidden;
}

.midStringImg, .endStringImg, .emptyStringImg{
    height: auto;
    width: 100px;

    transform: translateY(-520px);
}

.midStringImg:hover, .endStringImg:hover {
    cursor: pointer;
    opacity: 70%;
}


#craneMenuDiv{
    width: 180px;
    margin-bottom: 30px;
}