.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#craneCanvas {
    /*display: flex;
    flex-direction: row;
    justify-content: center;*/

    background-color: beige;
}

img {
    height: auto;
    width: 75px;
}

img:hover {
    cursor: pointer;
    opacity: 70%;
}