.content {
    display: flex;
    flex-direction: row;
    justify-content: center;

    /*transform: translate(6%);*/
}

#craneCanvas {
    display: flex;
    flex-direction: row;
    justify-content: center;

    max-height: 550px;
    max-width: 40%;
    overflow: hidden;
}

img {
    height: auto;
    width: 100px;

    transform: translateY(-575px);
}

.midStringImg:hover, .endStringImg:hover {
    cursor: pointer;
    opacity: 70%;
}


#craneMenu{
    position: absolute;
    right: 20%;
    top: 30%
}