body{
  /*background-color: #97eabf;*/
  background-image: url("wallpaper.png");
}

.App {
  text-align: center;


  /*margin-left: 13%;*/

  /*display: flex;
  flex-direction: column;
  justify-content: center;*/
}